h1,
h2,
h3,
h4,
h5 {
  font-family: "Vollkorn", sans-serif;
}

h2 {
  margin-top: 1.5rem;
}

.sidebar-about h1 {
  font-family: "Ubuntu", sans-serif;
}

.post .info {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.post {
  font-family: "Lora", serif;
}

div.map {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
}
