html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Vollkorn", sans-serif;
  text-wrap: balance;
  scroll-margin-top: 1em;
}

h2 {
  margin-top: 1.5rem;
}

p {
  text-wrap: pretty;
}

article {
  margin-bottom: 10vh;
}

main {
  margin-bottom: 40vh;
}

.sidebar-about h1 {
  font-family: "Ubuntu", sans-serif;
}

.article-toc,
article-toc h4 {
  font-family: "Ubuntu", sans-serif;
}

.post .info {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.post {
  font-family: "Lora", serif;
}

div.map {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
  transition: 0.2s ease 0.1s;
}

div.map.hidden {
  opacity: 0;
}

.article-toc > .map {
  position: fixed;
  bottom: 2em;
  width: 40em;
  height: 300px;
}

article > p:first-of-type::first-letter {
  color: var(--bkg-color);
  background-color: var(--text-color);
  border-radius: 2px;
  box-shadow: 3px 3px 0 #005522;
  font-size: 250%;
  font-weight: bold;
  padding: 6px 3px;
  margin-right: 0.2em;
  margin-top: 0.1em;
  float: left;
  line-height: 1;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  gap: 0.6em;
}

.pictures-picture {
  flex-basis: 20%;
  flex-grow: 1;
  margin: 0;
}

.pictures-picture > a > img {
  max-height: 15vh;
  min-width: 100%;
  object-fit: cover;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
  vertical-align: bottom;
  margin: 0;
}

@media (max-aspect-ratio: 1.2/1) {
  .pictures-picture > a > img {
    max-height: 8vh;
  }
}

.pictures-picture a {
  -webkit-tap-highlight-color: transparent;
}

.lightbox {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 1;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease 0.1s;
}

.lightbox.closed {
  opacity: 0;
}

.lightbox > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 90%;
  max-width: 90%;
  margin: auto;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  transition: 0.2s ease 0.1s;
}

.lightbox.closed > img {
  max-height: 70%;
  max-width: 70%;
}

.tags li a {
  height: 1.5em;
  text-decoration: none;
  padding: 0 0.5em;
}

.tag-nationaltrail a::before {
  content: "";
  mask: url("/tags/nationaltrail2.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--bkg-color);
  display: inline-block;
  width: 1em;
  height: 1.5em;
  margin-right: 0.2em;
  vertical-align: middle;
}

.tag-camino a::before {
  content: "";
  mask: url("/tags/camino.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--bkg-color);
  display: inline-block;
  width: 1.4em;
  height: 1.5em;
  margin-right: 0.2em;
  vertical-align: middle;
}

.tag-britain a::before {
  content: "🇬🇧 ";
}

.tag-spain a::before {
  content: "🇪🇸 ";
}

[x-cloak] {
  display: none !important;
}
