<meta
  name="google-site-verification"
  content="0kCOfXcz_aAJKh_eZglpQdpUUfE2IqecYZesW3oUOJo"
/>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,800;1,800&display=swap"
  rel="stylesheet"
/>

<!-- Styles -->
{{ $style := resources.Get "css/maplibre-gl.css" | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />

<!-- Scripts -->
{{ $map := resources.Get "js/map.js" }}
{{ $alpine := resources.Get "js/alpine.js" }}

{{ $script := slice $map $alpine | resources.Concat "js/global.js" }}
{{ $bundle := $script | js.Build (dict "sourcemap" "inline" ) | minify | fingerprint }}
<script
  defer
  src="{{ $bundle.Permalink }}"
  integrity="{{ $bundle.Data.Integrity }}"
></script>
